<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <div>
    <button (click)="createOrder()">Test create order</button>
  </div>
  <div>
    <button (click)="fillOrder()">Test fill order</button>
  </div>
  <hr>
  <div>
    <button (click)="createNFTOrder()">Test create NFT order</button>
  </div>
  <div>
    <button (click)="fillNFTOrder()">Test fill NFT order</button>
  </div>

</div>


<router-outlet></router-outlet>